@page "/fetchdata"
@inherits FetchDataBase

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th colspan="5" class="form-row text-center">
                    <div class="col-2">Date</div>
                    <div class="col-2">Temp. (C)</div>
                    <div class="col-2">Temp. (F)</div>
                    <div class="col-4">Summary</div>
                    <div class="col-2"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Context="forecast" Items="@forecasts">
                <tr>
                    <td colspan="5">
                        <EditForm Model="forecast" OnValidSubmit="() => Save(forecast)" class="form-row text-center">
                            <DataAnnotationsValidator />
                            <div class="col-2">
                                <InputDate @bind-Value="forecast.Date" class="form-control" />
                                <ValidationMessage For="@(() => forecast.Date)" />
                            </div>
                            <div class="col-2">
                                <InputNumber @bind-Value="forecast.TemperatureC" class="form-control" />
                                <ValidationMessage For="@(() => forecast.TemperatureC)" />
                            </div>
                            <div class="col-2">
                                @forecast.TemperatureF
                            </div>
                            <div class="col-4">
                                <InputText @bind-Value="forecast.Summary" class="form-control" />
                                <ValidationMessage For="@(() => forecast.Summary)" />
                            </div>
                            <div class="col-2">
                                <button class="btn btn-warning">Save</button>
                            </div>
                        </EditForm>
                    </td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
}